<h1>Welcome, <%= current_user.first_name %>!</h1>
<a href="/dashboard/<%= current_user.id %>">Go to Dashboard</a> 
<form action="/sessions/<%= current_user.id %>" method="post">
    <input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Logout">
</form>
<h1>All Products</h1>
<table>
    <th><tr><td>Product</td><td>Seller</td><td>Date Posted</td><td>Amount</td><td>Action</td></tr></th>
    <% if @shoes %>
        <% @shoes.each do |shoe| %>
          <% if shoe.purchase == nil %>
            <tr>
                <td><%= shoe.name %></td>
                <td><%= shoe.user.first_name %></td>
                <td><%= shoe.created_at %></td>
                <td>$<%= shoe.amount %></td>
                <td><a href="/shoes/<%= shoe.id %>/buy">Buy</a></td>
            </tr>
          <% end %>
        <% end %>
    <% end %>
</table>